<nav class="content-title">
    <a href="/">
        <i class="fa-solid fa-house"></i>
        Trang chủ website
    </a>
    <span><i class="fa-solid fa-angle-right"></i></span>
    <span class="content-title__text">
        Quản trị sản phẩm
    </span>
    <span><i class="fa-solid fa-angle-right"></i></span>
    <a href="#!category">
        Loại sản phẩm
    </a>
    <span><i class="fa-solid fa-angle-right"></i></span>
    <span class="content-title__text">
        Sửa
    </span>
</nav>
<div class="content-primary">
    <div class="info-share">
        <h3>Thông tin chung</h3>
        <form class="form-input" name="categoryForm" novalidate>
            <div class="form-group">
                <label for="code" class="form-label">Mã loại sản phẩm</label>
                <p class="form-control">{{code}}</p>
                <span>
                    <span class="form-mess"></span>
                </span>
            </div>
            <div class="form-group">
                <label for="name" class="form-label">Tên loại sản phẩm</label>
                <input type="text" name="name" class="form-control" placeholder="vd: bánh ngọt" ng-model="name">
                <span>
                    <span class="form-mess"></span>
                </span>
            </div>
            <a ng-click="editById(id)" type="submit" class="btn btn--primary fs-5">Sửa</a>
            <a href="#!category" class="btn btn--cancel fs-5">Thoát</a>
        </form>
    </div>
</div>