<div class="header">
    <ul class="header_list">
        <li class="header_list_primary">
            <a href="/">
                <i class="fa-solid fa-table-cells-large"></i>
                Administrator
            </a>
        </li>
    </ul>
    <p class="header_account" ng-click="btnLogin()" ng-show="isBtnLogin">
        Đăng nhập
        <i class="fa-solid fa-caret-down"></i>
    </p>
    <p class="header_account" ng-click="exit()" ng-show="isExit">
        Thoát
        <i class="fa-solid fa-caret-down"></i>
    </p>
</div>