<nav class="content-title">
    <a href="/">
        <i class="fa-solid fa-house"></i>
        Trang chủ website
    </a>
</nav>
<div class="content-primary">
    <div class="content-home">
        <h3>Nếu cần hỗ trợ kỹ thuật, quý khách vui lòng thực hiện một trong ba cách sau:</h3>
        <ol>
            <li>Truy cập: <span class="text-danger">cskh@gmail.com</span> và gửi yêu cầu hỗ trợ</li>
            <li>Gửi email cho phòng kỹ thuật: <span class="text-danger">kythuat@gmail.com</span></li>
            <li>Gọi số hotline hỗ trợ khách hàng: <span class="text-danger">0937463322</span></li>
        </ol>
    </div>
</div>